#quadrado{
    height: 16rem;
    width: 16rem;
    background-color: #2daaaa;
    background-image: url(../imgs/default.jpg);
    background-size: cover;
    animation: quad-aim 2s infinite;
    position: relative;
    margin-inline: auto;
    margin-top: calc(50vh - 8rem);
}

#quadrado:hover{
    background-image: url(../imgs/images.jpg);
}

@keyframes quad-aim {
    
    0% {
        left: -8rem;
        top: -8rem
    }

    25% {
        left: 8rem;
        top: -8rem;
        rotate: 90deg;
        border-radius: 50%;
    }
    
    50% {
        left: 8rem;
        top: 8rem;
        rotate: 180deg;
        border-radius: 0%;
    }
    
    
    75% {
        left: -8rem;
        top: 8rem;
        rotate: 270deg;
        border-radius: 50%;
    }

    100% {
        left: -8rem;
        top: -8rem;
        rotate: 360deg;
        border-radius: 0%;
    }
}