body{
    background-color: rgb(119, 119, 119);
    margin: 0px;
    padding: 0px;
    border: 0px;
}

#background{

    border: 5px solid rgb(196, 196, 196);
    border-radius: 5px;
    margin: 10rem;
    margin-inline: auto;
    background-image: url(../imgs/Mapa.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 45rem;
    height: 60rem;
}

#char{
    height: 3rem;
    width: 2rem;
    background: url(../imgs/Drwatts.png) -1px -159px;
    animation: 
    char01 steps(4) 0.5s 0s 4,
    char02 steps(4) 0.5s 2s 4;
}

@keyframes char01 {
    from{
        background-position-x: -1px ;
    }
    to{
        background-position-x: -133px  ;
    }
}

@keyframes char02 {
    from{
        background-position: -1px -228px;
    }
    to{
        background-position: -133px -228px;
    }
}

#char-mov{
    width: fit-content;
    position: relative;
    animation: 
        charmov01 2s linear,
        charmov02 1.5s 2s linear,
        charmov03 1.5s 3.5s linear infinite;
}

@keyframes charmov01 {
    from{
        top: 40rem;
        left: 0.5rem;
    }
    to{
        top: 40rem;
        left: 20.5rem;
    }
}

@keyframes charmov02 {
    from{
        top: 40rem;
        left: 20.5rem
    }
    to{
        top: 25rem;
        left: 20.5rem
    }
}

@keyframes charmov03 {
    from{
        top: 25rem;
        left: 20.5rem;
    }
    to{
        top: 25rem;
        left: 5.5rem;
    }
}