.lorem1000 {
    column-count: 3;
    column-gap: 30px;
    column-rule: 3px dashed violet;
}

.section1 {
    height: 16rem;
    display: flex;
    justify-content: center;
}

.block {
    background-color: gray;
    height: 8rem;
}

.html{
    scroll-behavior: smooth;
}
