.ds{
    width: 4rem;
    background-image: linear-gradient(right #0000ff, #ff0000);
    padding: 1rem;
    border: 1px solid black;
    margin: 1rem;
    outline: 100px;
}

.ds p{
    text-align: center;
}