
.background{
    width: 1440px;
    height: 960px;
    background-image: url(../img/img_01.webp);
    }

.personagem{

    position: relative;

    height: 2rem;
    width: 1rem;

    background-image: url(../img/persona.png);
    background-position: -8px -141px;

    top: 30rem;
    left: 34rem;

    animation: 
    movimento 11s linear infinite,
    ani 0.5s steps(2) infinite;
}

.obstaculo{
    position: absolute;
    width: 1440px;
    height: 960px;
    background-image: url(../img/img_01_fore.webp);
    top: 0.5rem;
    }

@keyframes ani {
    from{
        background-position-x: -8px;
    }
    to{
        background-position-x: -42px;
    }
}

@keyframes movimento{

0%      {top: 30rem; left: 34rem; background-position: -8px -141px;}

29%     {top: 30rem; left: 47rem; background-position: -8px -141px;}
29.001% {background-position: -8px -42px;}

50%      {top: 39rem; left: 47rem; background-position: -8px -42px;}
50.001% {background-position: -8px -108px;}

79%      {top: 39rem; left: 34rem; background-position: -8px -108px;}
79.001% {background-position: -8px -75px;}

100%    {top: 30rem; left: 34rem; background-position: -8px -75px;}



}


